<mat-toolbar color="primary">
  <span>CDK Portlet Example</span>
</mat-toolbar>
<div class="navigation">
  <div>
    <button mat-button="" mat-raised-button="" routerLink="/home">Home</button>
    <button mat-button="" mat-raised-button="" routerLink="/persons">People</button>
    <button mat-button="" mat-raised-button="" routerLink="/addresses">Addresses</button>
  </div>
  <div id="component-actions">
    <!-- dynamic content will be placed here by the CDK Portal -->
  </div>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>


